<%- include('./head') %>
<h1>Category: <%= category.name %></h1>
<div style="margin-left:20px;margin-top:20px">
    <p>Description: <%= category.description%></p>
    <% if (items.length){ %>
      <dl>
          <% items.forEach(item=> {%>
          <dt><a href=<%=item.url%>> <%= item.name %></a></dt>
          <dd><%= item.description%></dd>
          <% }) %>
      </dl>
      <% } else{%>
          <p>This category has no items.</p>
          <% }%>
  
</div>
<hr>
<p>
    <a href='<%=category.url%>/delete'>Delete category</a>
</p>
<p>
    <a href=<%=category.url+'/update'%>>Update category</a>
</p>

<%- include('./foot') %>