<%- include('./head') %>
<h1>Item: <%= item.name %></h1>
<div style="margin-left:20px;margin-top:20px">
    <p>Description: <%= item.description%></p>
</div>
<hr>
<p>
    <a href='<%=item.url%>/delete'>Delete item</a>
</p>
<p>
    <a href=<%=item.url+'/update'%>>Update item</a>
</p>

<%- include('./foot') %>